*{
    box-sizing:border-box;
    margin:0;
    padding: 0;
    font-family: 'Roboto';
}



.container{
    display:flex;
    flex-direction: column;
    
    
}
.header, .hero, .footer{
   background: #1f2937; 
   color: #f9FAF8;
}
button{
    background-color: #3882f6;
    color: #f9FAF8
}
/*header styling*/
.header{
    display: flex;
    justify-content: space-between;  
    padding-top: 10px;  
    
}
.header h1{
    padding-left: 150px;
    font-size: 24px;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;  
    gap: 20px;
    padding-right: 150px;

}
.header ul li a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/*hero styling*/
.container .hero{
    display: flex;
    height: 300px;
    justify-content: center; 
    align-items: center;  
    padding: 100px 150px;
}

.left{
    flex:1;     
    margin-right: 40px;
    
    
}

.left h1{
    font-size: 48px;
    font-weight: bolder;    
}
.left p{
    font-size: 18px;
    color:#e5e7eb
}

.right{
    background: gray; 
    flex:1;
    height: 187px;
    text-align: center;
    vertical-align: middle;
    line-height: 187px;
}

button{
    background: #3882f6;
    color: #e5e7eb;
    border-radius: 10px;
    border: #1f2937;
    width: 125px;
    height:38px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
}

.left p{
    width: 450px;
}

/*content styling*/
.content-section{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top:10px;
    margin-bottom: 30px;
    padding-right:150px;
    padding-left: 150px;
}
.content-section h1{
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937;
}

.element-container{
    display: flex;
    margin-top: 30px;
    
}

.element-container .element{   
    margin-right: 20px;
    height: 150px;
    width:150px;
    text-align:center;
}

.image{
    height:150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.element p{
    color: #1f2937;
    margin-top: 5px;

}

/*quote styling*/
.quote{
    display: flex;
    flex-direction: column;
    background: #e5e7eb;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.quote .text{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 825px;
    padding-bottom: 0;
}

.quote .author{
    align-self: flex-end;
    padding-right: 250px;
    padding-top: 0;
    margin-top:-10px;
}

.quote .author p{
font-weight: bolder;
font-size: 18px;
}

/*Call to action styling*/

.action{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 250px;
   
}

.action .action-container{
    display: flex;
    background-color: #3882f6;
    color:#f9FAF8;
    height: 150px;
    width: 100%;
    margin: 0 150px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;    
}
#action-button{
    margin-left: 150px;
    border: 2px solid #f9FAF8;
    width: 130px;
}

/*footer styling*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}